@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

font-family: 'Montserrat', sans-serif; font-weight: 300; 
h1, h2, h3, h4, h5, h6 { 
	font-family: 'Alata', sans-serif; letter-spacing: -0.05em; 
}
#bg { 
	background-color: #FBFBFB;
	color: #151C20;
}

.img-fluid, .depoimento { border-radius: 1em; }


#capa h1 { text-transform: uppercase;}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

.depoimento{
	border: 2px solid grey;
	padding: 20px;
}

.aspas{
	font-size: 25px;
}

.altura {
	height: 400px;
}

