@import url('https://fonts.googleapis.com/css2?family=Alata&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* { font-family: 'Lato', sans-serif; font-weight: 300; }
h1, h2, h3, h4, h5, h6 { font-family: 'Alata', sans-serif; letter-spacing: -0.05em; }
#home h1 { text-transform: uppercase; }
.img-fluid, .depoimento1, .depoimento2, .depoimento3 { border-radius: 1em; }
.corfundo { color: #fff; }
/* </Alterações> */

:root {
/* Colors: */
--unnamed-color-9d2fe9: #9D2FE9;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-dcf04f: #DCF04F;
--unnamed-color-151c20: #151C20;
--unnamed-color-00000000: #000000;
--unnamed-color-68d6b8: #68D6B8;
--unnamed-color-6346e6: #6346E6;
}

body {
    background: #BFBFBF 0% 0% no-repeat padding-box;
    text-align:center;
    font-family:Open Sans, sans-serif;
    margin: 0px;
}

.container {
    height: 100vh;
    max-width: 45rem;
    max-height: 35rem;
    margin-top: 10rem;
    margin-left: 38rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    margin: -3.2rem auto 3.2rem;
    border-radius: 5px;
    opacity: 1;
    margin-top: 6.4rem;
    padding-top: 6.4rem;

    background: rgba(255,255,255,0.870588235294);
    width: 100%;
}

.hug-image {
    width: auto;
    margin-top: -2rem;
}

.thank-container img {
    height: 350px;
}

h1 {
    color: #9D2FE9;
}

.input-group-append {
    display: flex;
    justify-content: center; /* precisa de display flex */
    margin: 1.4rem 0;
}

.input-group-append a:active {
    position: relative;
    top: 2px;
}

.input-group-append a {
    display: flex;
    align-items: center;
    justify-content: center;

    font: bold 30px Open Sans;	
    padding:0px;
    text-decoration: none;
    text-align:center;	
    color:#6346E6;
    background: #68D6B8 no-repeat center center;	
    width:300px;  
    height:60px;	
    border-radius: 5px;
    cursor:pointer;
    transition: background 0.2s;
}

.input-group-append a:hover {
    background: #61cfbe no-repeat center center;
    color:#6346E6;
}
